/*WELCOME PAGE DESIGN*/

.jumbotron{
	margin-top: -20px;
	width: 100% !important;
	height: 400px !important;
	background: rgba(110, 181, 68, .3);
	background-size: cover;
	background-image: image-url("smarket.jpg");
	.welcome-content.well{
		margin: 0 auto;
		width: 90%;
		color: #ededed !important;
		font-weight: 800;
		border:none !important;
		background-color: rgba(110, 181, 68, .5) !important;
		h3{line-height: 1.2em !important;}
	}
	.btn.btn-success{
		font-weight: 800;
		color: #ededed !important;
	}
}
.results-block{
	display:inline-block;
}

.no-padding {
	padding: 0 !important;
}

.left-padding {
	padding-left: 15px !important;
}

.logout {
	padding-left: 0;
}

.user-name {
	padding-top: 15px;
}

.nav.navbar-right li {
	.btn {
		color: #fff !important;
		margin-top: 5%;
	}
	.btn-danger:hover{
		background-color: darken(#d9534f, 20%) !important;
	}
}