/*WELCOME PAGE DESIGN*/
body{
	background: image-url("smarket.jpg");
	background-size:cover;
}

.profile {
	background-color: #ededed !important;
	border-radius: 25px !important;
	padding: 25px;
	a{
		width: 100px;
		color: white !important;
	}
}

table.table {
	border-radius: 25px !important;
}
i.fa {
	font-size: 1.25em !important;
	color: green !important;
}
th>h3{
	color: #000 !important;
}
h3,h4 {
	color: #ededed !important;
}
td,th{
	background-color: #ededed !important;
}

i.fa-gg-circle{
	color: green !important;
}
.jumbotron{
	margin-top: -20px;
	border-radius: 0 !important;
	width: 100% !important;
	height: 400px !important;
	background: none !important;
	.welcome-content.well{
		margin: 0 auto;
		width: 90%;
		color: #ededed !important;
		font-weight: 800;
		border:none !important;
		background-color: rgba(0, 0, 0, .0) !important;
		h3{line-height: 1.2em !important;}
	}
	.btn.btn-success{
		font-weight: 800;
		color: #ededed !important;
	}
}
.results-block{
	display:inline-block;
}

.no-padding {
	padding: 0 !important;
}

.left-padding {
	padding-left: 15px !important;
}

.logout {
	padding-left: 0;
}

.user-name {
	padding-top: 15px;
}


/*DELETE BUTTON*/

.btn.btn-xs.btn-danger{
	color:#fff !important;
	&:hover{
		color: blue #important;
	};
}
.nav.navbar-right li {
	.btn {
		color: #fff !important;
		margin-top: 5%;
	}
	.btn-danger:hover{
		background-color: darken(#d9534f, 20%) !important;
	}
}